Source: hyphen-ml
Section: text
Priority: optional
Maintainer: Debian-IN Team <debian-in-workers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 9), dh-buildinfo, dictionaries-common (>= 0.10)
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/debian-in/hyphen-ml.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-in/hyphen-ml.git
Homepage: http://wiki.smc.org.in/Hyphenation

Package: hyphen-ml
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dictionaries-common (>= 0.10)
Description: Malayalam hyphenation patterns for LibreOffice
 Hyphenation patterns hyphenate words at line boundary making it more
 natural to read.
 .
 This package contains hyphenation patterns for the Malayalam
 script.
